body{
	margin:0;
	text-align:center;
	font-family: verdana, sans-serif;
	background-color: #eeeeee;
}
h1{
	font-family: cursive;
	color: #66BFBF;
}
h2{
	color: #66BFBF;
}
h3{
	color: #11999E;
}
a{
	color: #11999E;
}
p{
	font-weight: normal;
	line-height: 2;
}
hr{
	border-style: dotted;
	border-width: 5px;
    display: list-item;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: auto 600px;
    color: #EAF6F6
}

.top-container{
	background-color: #E4F9F5;
	margin: 10px;
	padding-top: 100px;

}

.bottom-container{
	background-color: #66BFBF;
	margin: 10px;
	padding: 50px;
}
.top-cloud{
	position: absolute;
	right: 400px;
	top:100px;
}
.bottom-cloud{
	position: absolute;
	left: 400px;
	bottom: 400px;
}
.profile{
	border-radius: 100%;
	width: 50%;
	height: 50%;
	margin-left: 20%;
}
.middle-para{
	color: #40514E;
}
.contact-me{
	padding-top: 50px;
	padding-bottom: 50px;
}
.btn-space{
	padding-bottom: 40px;
}
.btn{
	border: solid #51c2d5 1px;
   background: #51c2d5;
   border-radius: 20px;
   text-decoration: none;
   padding: 10px;
   color: white;
}
.btn:hover{
	 color: #0a043c;
}
.footer-link{
	text-decoration: none;
	padding:20px;
	color: #11999E;
}
.footer-link:hover{
	color: #532e1c;
}
.copyright{
	color: #EAF6F6;
}